# /usr/lib/udev/rules.d/
ACTION=="add", SUBSYSTEM=="usb", ENV{ID_VENDOR_ID}=="05a9", ENV{ID_MODEL_ID}=="4519" ENV{SYSTEMD_WANTS}="device-attach.service"
... remove?
